/* Css reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Generics */
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 1040px;
	height: 350px;
	border-radius: 0 0 50px 50px;
	
  position: fixed;
  top: 0px;
	left: calc((100vw - 1040px) / 2) ;
	
  z-index: 1;
  color: white;
  font-weight: 600;
  font-size: 12px;
	background-image: url(../images/header-bg.png);
	background-repeat: no-repeat;
	background-position: 0px 130px;
	background-color: blue;
}

h1 {
	height: 60%;
	line-height: 400%;
	vertical-align: middle;
}

/* footer {
  padding: 30px;
  color: white;
} */

/* nav {
  line-height: 30px;
  background-color: aquamarine;
  max-width: 1100px;
  margin: 0 auto;
} */

/* nav > div{
  padding: var(--nav-pd)
} */

/* span {
  margin: 0 5px;
} */

/* img {
  width: 100%;
} */

/* ul {
  list-style-type: none;
  
  a {
      text-decoration: none;
      color: white;
      margin-right: 5px;
  }

  li:last-child a {
      margin-right: 0;
  }
  
} */

/* Utilities */
.container {
	max-width: 1040px;
	margin: 380px auto 0;
}

.col {
	padding: 10px;
	flex-basis: calc(100% / 8);
}

.calendar-cell {
	border-radius: 25px;
	background-color: green;

	text-align: center;
	aspect-ratio: 1;
}

.col:last-child {
	padding: 10px 0;

	.calendar-cell {
		aspect-ratio: 9/1;
	}
}
	